<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{serverState.teamspeakConfig.name}}
            <ion-badge *ngIf="!serverState.online" color="danger">Offline</ion-badge>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openActions()">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content *ngIf="!editState">
    <ion-grid>
        <ion-row>
            <ion-col size="10">
                <h2>Modules</h2>
            </ion-col>
            <ion-col size="2">
                <ion-button expand="full" [routerLink]="'/modules'">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item *ngFor="let work of worker">
            <app-module-info [worker]="work" style="width:100%"></app-module-info>
        </ion-item>
        <ion-item *ngIf="worker==null || worker.length==0" class="ion-text-wrap">
            <ion-label>
                <h2>No modules found</h2>
                <p>You can add a module by clicking the button on the right</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <p *ngFor="let module of modulesList">{{module}}</p>

    <h2>Logs</h2>


    <app-logs [logs]="logs"></app-logs>
</ion-content>


<ion-content *ngIf="editState">
    <ion-spinner *ngIf="config==null"></ion-spinner>
    <app-comp-generic *ngIf="config!=null" [entries]="data.BEEBOT_CONFIG" [object]="config"></app-comp-generic>

    <ion-button (click)="saveConfig()">
        <ion-icon name="save-outline"></ion-icon>
        Save
    </ion-button>
    <ion-button (click)="editState=false">Abort</ion-button>
</ion-content>
