<ion-header>
    <ion-toolbar>
        <ion-title>Add a Module</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Select the Bot</ion-label>
        <ion-select (ionChange)="selectBot($event)">
            <ion-select-option *ngFor="let bot of bots">
                {{bot.teamspeakConfig.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

<div *ngIf="selectedBot!=null">
    <br>
    <ion-button *ngFor="let module of modules" (click)="select(module)"
                [color]="selectedModule == module?'primary':'light'">
        {{module.name}}
    </ion-button>

    <app-comp-generic [entries]="definition" [object]="moduleConfig"></app-comp-generic>
    <ion-button expand="block">Create</ion-button>
</div>
</ion-content>
