<ion-header>
  <ion-toolbar>
    <ion-title>Server Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Server</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Base URL: {{login.login.server}}<br>
        Token : {{login.login.token}}
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Memory</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Memory: {{stats.usedMemory | filesize}} / {{stats.totalMemory | filesize}}
      <ion-progress-bar [value]="stats.usedMemory/stats.totalMemory"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

</ion-content>
