<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add a BeeBot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-comp-generic [entries]="data.BEEBOT_CONFIG" [object]="teamspeakConfig"></app-comp-generic>

  <ion-button (click)="create()" expand="block">Create</ion-button>

  <ion-spinner *ngIf="state==1"></ion-spinner>


  <app-violation [violations]="violations"></app-violation>

</ion-content>
