.borderGreen{
  border-left: #2dd36f;
  border-left-style: solid;
  border-width: 5px;
}

.borderYellow{
  border-left: #f1c40f;
  border-left-style: solid;
  border-width: 5px;
}

.borderRed{
  border-left: #ff4961;
  border-left-style: solid;
  border-width: 5px;
}